[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cors = "*"
flask-cors = "*"
flask = {extras = ["async"], version = "*"}
six = "*"
pandas = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.10"
